# Dependencies (node_modules ignore karne ke liye)
node_modules/
**/node_modules/

# Environment variables & secrets
.env
.env.*

# Aapke specific custom folders (Aapke bataye hisab se)
frontend/staff/
frontend/admin/src_admin/

# Build & Log files
dist/
build/
.next/
*.log

# OS temporary files
.DS_Store
Thumbs.db